<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Cleo Studio Css Template</title>
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<script type="text/javascript" src="js.js"></script>
</head>

<body onload="new Accordian('basic-accordian',5,'header_highlight');">
<div id="main_container">
	<div id="header">
    	<div id="logo"><a href="home.html"><img src="images/logo.gif" alt="" title="" border="0" /></a></div>
    
        <div id="menu">
            <ul>                                              
                <li><a class="current" href="#" title="">home</a></li>
                <li class="divider"></li>
                <li><a href="#" title="">webdesign</a></li>
                <li class="divider"></li>
                <li><a href="#" title="">identity</a></li>
                <li class="divider"></li>
                <li><a href="#" title="">print</a></li>
                <li class="divider"></li>
                <li><a href="#" title="">contact</a></li>
            </ul>
        </div>
    
    </div>
    
    
    <div id="middle_box">
    </div>
    
    <div id="main_content">
    
 			<div class="left_content">
					
                    <div id="basic-accordian">
                     <div id="test-header" class="accordion_headings header_highlight" >featured projects</div>
                     
                       <div id="test-content">                 
                        <div class="accordion_child">
                        <h2>Project name</h2>
                        <img src="images/project.gif" alt="" title="" />
                        <p class="tab">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        </div>                       
                      </div>  
                      
                      
                      
                       <div id="test1-header" class="accordion_headings" >our clients</div>
                      
                      <div id="test1-content">
                        <div class="accordion_child">
                        <h2>our clients</h2>
                                                <p class="tab">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        <p class="tab">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        </div>
                        
                      </div>                     
                      
                                       
                       <div id="test2-header" class="accordion_headings" >main services</div>
                       <div id="test2-content">
                        <div class="accordion_child">
                        <h2>main services</h2>
                        <p class="tab">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        <p class="tab">
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                        </div>
                       </div>  
                    
                    
                    
                    </div>			

            </div>
            
            
            
            
            
 			<div class="right_content">
            <div class="title">Latest news</div>
				<div class="news_tab">
                <h1>Ut enim ad minim veniam</h1>
                <p>
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <div class="news_details"><span class="date">13.02.2008</span> <span class="user">by admin</span></div>
                </div>

 				<div class="news_tab">
                <h1>Ut enim ad minim veniam</h1>
                <p>
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <div class="news_details"><span class="date">13.02.2008</span> <span class="user">by admin</span></div>
                </div>
 
  				<div class="news_tab">
                <h1>Ut enim ad minim veniam</h1>
                <p>
"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                <div class="news_details"><span class="date">13.02.2008</span> <span class="user">by admin</span></div>
                </div>
                
                <a href="#" class="read_more">view all news</a>
                
            </div>            
            
            
        <div class="clear"></div>    
       </div>     
            
            
     <div id="footer">
     	<div class="copyright">
        <img src="images/footer_logo.gif" alt="" title="" />
        </div>
    	<div class="footer_links">
        <a href="http://csstemplatesmarket.com"><img src="images/csstemplatesmarket.gif" alt="csstemplatesmarket" title="csstemplatesmarket" border="0" /></a>
        </div>
    
    
    </div>


</div>
</body>
</html>
